server:
  port: 8081
spring:
  application:
    name: EXAMPLE-CACHE-COROUTINE
  data:
    mongodb:
      auto-index-creation: true
      uri: mongodb://127.0.0.1:27011,127.0.0.1:27012,127.0.0.1:27013/ideal2-example?maxPoolSize=4
    redis:
      host: 127.0.0.1
      port: 6379
  rabbitmq:
    addresses: 127.0.0.1:5672
    virtual-host: ideal
    username: admin
    password: admin

ideal-event:
  rabbit:
    temporary: true

logging:
  charset:
    console: utf-8
  level:
    root: info
    cn.idealframework2: debug
    io.netty.resolver.dns.DnsServerAddressStreamProviders: off
    com.zzs.iam.launcher.configure.WebMessageConverterAutoConfigure: info
  pattern:
    console: "%clr(%d{HH:mm:ss.SSS}){faint} %clr(-%5p) %clr(-){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(%6L){magenta} %clr(:){faint} %m%n"
